//Logo

@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

$-ff-logo: "Croissant One", cursive;

//subLogo

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

$-ff-subLogo: "Anonymous Pro", monospace;

// Default

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");

$-ff-default: "Montserrat", sans-serif;

// cursive font

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

$-ff-cursive: "Caveat", cursive;
